Repository goulvenclech/astropi, pull requests merged in 2024-05, with the labels that each got.

#10 fix(landing): styles & content
  .changeset/pink-bees-add.md
  packages/astropi/assets/app.css
  packages/astropi/components/InfoBanner.astro
  packages/astropi/components/Logo.astro
  packages/astropi/components/cards/BlogEntryCard.astro
  packages/astropi/components/header/HeaderNavLink.astro
  packages/astropi/components/header/HeaderNavSearchButton.astro
  packages/astropi/layouts/Header.astro
  packages/astropi/layouts/landing/LandingFeatures.astro
Labels: pkg: astropi

#11 content: typos in first blog article
  docs/src/content/blog/2024/release-alpha-hello-world/index.md
Labels: documentation

#7 test: add vitest and istanbul
  .changeset/lemon-lemons-double.md
  .gitignore
  package.json
  packages/astropi/types.d.ts
  packages/astropi/utils/archetypes.test.ts
  packages/astropi/utils/collections.test.ts
  packages/astropi/utils/collections.ts
  pnpm-lock.yaml
  vitest.config.ts
  vitest.workspace.ts
Labels: P3 - normal, pkg: astropi, devops
